@model List<Customer>

@{
    ViewData["Title"] = "List of Customers";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@section styles {
    <link rel="stylesheet" href="@ViewData["AssetHost"]/css/customers.css" type="text/css" asp-append-version="true" />
}

<section id="hero" class="main-feature">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h1>Customer List</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="info-section light-grey">
    <div class="row">
        <div class="col-md-12">
            <table id="customers">
                <tr>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Email Address</th>
                    <th>Address</th>
                    <th></th>
                </tr>

                @foreach ( var item in Model )
                {
                    <tr>
                        <td>@item.FullName</td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.EmailAddress</td>
                        <td>@item.Street</td>
                        <td>
                            <a class="btn btn-green" href="">Edit</a>
                            <a class="btn btn-red" href="">Delete</a>
                        </td>
                    </tr>
                } 

                
            </table>

            <div>
                    <h1>HELLO</h1>
                    <a asp-controller="Customers" asp-action="Create" class="btn btn-primary">Add New</a>
                </div>
        </div>
    </div>
</section>

<section class="info-section dark-grey">
    <div class="row">
        <div class="col-md-12">
            <div class="call-to-action">
                <h1>Section 2</h1>
            </div>
        </div>
    </div>
</section>
