@using lucid.Controllers
@using lucid.Models
@using lucid.Services


@{
    ViewData["Title"] = "Team Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";

    // get list of employees and the team model from ViewData
    IEnumerable<Employee> employees = ViewData["Employees"] as IEnumerable<Employee>;
    Team teamModel = ViewData["TeamModel"] as Team;
}

@section styles {
    <link rel="stylesheet" href="@ViewData["AssetHost"]/css/details.css" type="text/css" asp-append-version="true" />
}

<section id="hero" class="main-feature">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h1></h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="info-section dark-grey">
    <div class="row">
        <div class="background-card">
            <h3>Team Information</h3>

            

            <h5>Name</h5>
            @foreach (Employee employee in employees)
            {
                 <p>@employee.FirstName @employee.LastName</p>
            }
            <p>@teamModel.TeamName</p>

            <h5>Team Lead</h5>
            <p>@teamModel.TeamLeaderEmployeeId</p>

            
            <h5>Team Driver</h5>
            <p>@teamModel.TeamDriverEmployeeId</p>

            <div>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@teamModel.Id">Edit</a>
                <a class="btn btn-primary" id="btnShowModal" data-toggle="modal" data-target="#modalDelete">Delete</a>
            </div>
        </div>
    </div>
</section>



<!-- Modals -->
<div id="modalDelete" class="modal fade" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirm Delete</h4>
                <p>Are you sure you want to delete?</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" id="btnHideModal">Close</a>

                <a class="btn btn-primary" href="@Url.Action("DeleteAction", "Teams", new { id = @teamModel.Id })">Delete</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">  
    $(document).ready(function () {  
        $("#btnShowModal").click(function () {  
            $("#modalDelete").modal('show');  
        });  
  
        $("#btnHideModal").click(function () {  
            $("#modalDelete").modal('hide');  
        });  
    });  
</script> 